@font-face {
	font-family: "Nimbus sans regular";
	src: url("../fonts/NimbusSanL-Reg.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Nimbus sans bold";
	src: url("../fonts/NimbusSanL-Bol.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Playfair Display";
	src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
	font-weight: 400 900;
	font-style: normal;
	font-display: fallback;
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-primary: black;
	--color-text-primary: white;
	--color-text-secondary: #555555;
	--color-text-footer: #B3B3B3;
	--color-bigtext-background-light: #E5E5E5;
	--color-bigtext-background-dark: #1A1A1A;

	--color-logo: white;

	--color-section-background-light: white;
	--color-section-background-dark: black;
	--color-section-background-album: lightgrey;
	--color-footer-background: black;

	--color-vibrant: #FE5768;
	--color-vibrant-dark:#7F2B34;
}







/* * {
	font-family: 'Nimbus Sans regular';
	text-transform: uppercase;
} */






/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/* Button container opmaak (het maken van grid en opmaak terwijl de streepjes opelkaar in het midden staan) */
header button {
	display:grid;
	place-items:center;
	aspect-ratio: 1;
	appearance: none;
	background: none;
}
/* button children opmaak (de streepjes) */
header button span {
	display: block;
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: .4em;
	transition: .2s;
}

/* Button header maken tot hamburgermenu */
header button span:nth-child(1){
	translate: 0 -1em;
}
  
header button span:nth-child(3){
	translate: 0 1em;
}

/* Button header wanneer geopend (dan is de klasse .toonMenu toegevoegd aan het element button) */
header.toonMenu button span:nth-child(1){
	translate: none;
	rotate: 45deg;
}
  
header.toonMenu button span:nth-child(2){
	scale: 0 1;
}
  
header.toonMenu button span:nth-child(3){
	translate: none;
	rotate: -45deg;
}