/**************/
/*   Fonts    */
/**************/
/* moeten als eerste worden ingeladen omdat deze worden geimporteerd. Deze moeten daarom bovenaan in de CSS staan */

@font-face {
	font-family: "Nimbus sans regular";
	src: url("../fonts/NimbusSanL-Reg.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Nimbus sans bold";
	src: url("../fonts/NimbusSanL-Bol.otf") format("opentype"); /* De goede vorm van de url is: ../ en dan ook het format type goed matchen! */
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Playfair Display";
	src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
	font-weight: 400 900;
	font-style: normal;
	font-display: fallback;
}

/* * {
	font-family: 'Nimbus Sans regular';
	text-transform: uppercase;
} */



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

img {
	max-width: 100%;
	display: block; /* Verwijder eventuele ruimte onder afbeelding omdat het een inline element is */
}

* {
	text-transform: uppercase;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-primary: black;
	--color-text-primary-white: white;
	--color-text-secondary: #555555;
	--color-text-footer: #B3B3B3;
	--color-bigtext-background-light: #E5E5E5;
	--color-bigtext-background-dark: #1A1A1A;

	--color-logo: white;

	--color-section-background-light: white;
	--color-section-background-dark: black;
	--color-section-background-album: lightgrey;
	--color-footer-background: black;

	--color-vibrant: #FE5768;
	--color-vibrant-dark:#7F2B34;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/****************/
/* 	FONTS 	*/
/****************/
* {
	font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
	font-family: 'Playfair Display';
}

main, body {
	margin: 0;
	padding: 0;
}

/****************/
/* 	POP-UP	*/
/****************/

dialog {
    border: none;
    padding: 1em;
    border-radius: .2em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 20em;
}

/****************/
/* 	SECTIONS 	*/
/****************/

section {
	padding: 7em 0 calc(9.25926vw + 20px + 7em) 0;
	position: relative;
}

section:nth-of-type(odd) h2 {
	color: var(--color-bigtext-background-dark);
}

section:nth-of-type(odd) {
	background-color: var(--color-section-background-dark);
}

section:nth-of-type(even) {
	background-color: var(--color-section-background-light);
}

h2 {
	color: var(--color-bigtext-background-light);
	width:100%;
	margin: 0;
	font-size:calc(9.25926vw + 70.37px); /* van de website */
	line-height: .85em; /* Om de h2 minder padding te geven */
	order: 10;
	overflow: hidden; /* Om newsletter af te breken en niet vertivaal te kunnen scrollen */
	position: absolute;
	bottom:0;
}

section a { /* alle links in de tweede sectie */
	text-decoration: none;
	color: black;
}

/* VIEW ALL BUTTON */

main section > a {
	font-size: .9em;
	font-weight:700;
	align-self: end;
	transform: translate(-60%, 750%);
	color:  var(--color-text-primary);
}

/* STREEPJE */
main section > a::after { 
	content: "";
	width: 2em;
	height: .1em;
	background-color: var(--color-text-primary);
	position: absolute;
	top:50%;
	right:-60%;
}

section:nth-of-type(odd) .viewall  {
color: var(--color-text-primary-white);
}

section:nth-of-type(odd) .viewall::after { 
	content: "";
	width: 2em;
	height: .1em;
	background-color: var(--color-section-background-light);
	position: absolute;
	top:50%;
	right:-60%;
}

.viewall:hover {
text-decoration: underline;
}


/****************/
/* 	HEADER 	*/
/****************/
header {
	display:grid;
	grid-template-columns: max-content 1fr ;
	height: 4em;
	position:sticky;
	top:0;
	z-index: 20;
	background-color: white;
	align-items: center;
	overflow: hidden;
}

header h1 {
	grid-row-start: 1;
	grid-column-start: 2;
	justify-self: center;
	max-width: 350px;
	margin: 0 1em;
	min-width: 200px;
	
}



header nav {
    position: fixed;
    bottom:0; /* Nav komt direct onder de header */
    left: 0;
	top:0;
    right: 3em;
    background-color: black; /* Zichtbaarheid checken */
    z-index: 10; /* Zorgt ervoor dat het nav boven andere elementen zichtbaar is */
    padding: 1em;
	min-height: auto;

	display: grid;
	grid-template-rows: 1fr max-content;
	place-items: center;
	margin-top: 4em;
	translate: -100% 0%;

	transition: .3s;
}


header ul {
	list-style-type: none;
	padding: 0;
}

header ul:first-of-type {
	display: flex;
	flex-direction: column;
	gap: 2em;
	text-align: center;
}

header ul:last-of-type {
	display: flex;
	flex-flow: row wrap;
	gap: 1.2em;
}


header a {
	text-decoration: none;
	color: var(--color-text-primary-white);
	font-family: "Playfair Display";
	font-size: 1.25em;
}

header ul:last-of-type img {
	max-width: .625em;
	/* Met behulp van chatgpt op 25/9/2024 */
	filter: invert(100%) brightness(200%); 
}






/********************/
/* 	HAMBURGERMENU 	*/
/********************/

/* Button container opmaak */
header button {
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    appearance: none;
    border: none;
    cursor: pointer;
    justify-self: start;
    margin-left: 1.3em;
  	width:3em;
  	height:3em;
	background-color: transparent;
}

/* de streepjes */
header button span {
    display: block;
    width: 1em; 
    height: 1.6px;
    border-radius: 0.4em; 
    transition: .2s; 
  	background-color: black;
/*   Grid-row-start en Grid-column-start: 1; zorgen ervoor dat alle span-elementen binnen de button, zodat ze vanuit dezelfde positie kunnen transformeren wanneer het menu wordt geopend en gesloten. */
  	grid-row-start: 1;
	grid-column-start: 1;
}

/* Button header maken tot hamburgermenu */
header button span:nth-child(1) {
    transform: translateY(-.4em);
}

header button span:nth-child(3) {
    transform: translateY(.4em);
}

/* Hamburgermenu>Kruis wanneer erop geklikt wordt */
header.toonMenu button span:nth-child(1) {
    transform: none;
    rotate: 45deg;
	width: 20px;
}

header.toonMenu button span:nth-child(2) {
    scale: 0; /* Verbergt de middelste streep */
}

header.toonMenu button span:nth-child(3) {
    transform: none;
    rotate: -45deg;
	width: 20px;
}

/* nav komt tevoorschijn wanneer er geklikt wordt */

header.toonMenu nav {
    translate: 0% 0%;
}



/****************/
/* 	NIET VERGETEN 	*/
/****************/
/* header nav {
	display: none;
} */





/****************/
/* 	FOOTER 	*/
/****************/
footer {
	background-color: var(--color-section-background-dark);
	height: 7em;
	padding: 0 0 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Om de ul verticaal te centreren in de footer */
}

footer ul {
	list-style-type: none;

	color: var(--color-text-footer);
	display: flex;
	flex-flow: row wrap; /* Om het lijstje horizontaal en op een nieuwe regel weer te geven */
	text-decoration: none;
	gap: 0.8em 1em; /* ruimte om de links */

	margin: 0;
}

footer ul a {
	color: var(--color-text-footer);
	text-decoration: none;
	font-weight: 700;
	font-size: 0.75em; 

}

footer ul a:hover {
	text-decoration: underline;
}