@font-face {
	font-family: "Nimbus sans regular";
	src: url("../fonts/NimbusSanL-Reg.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Nimbus sans bold";
	src: url("../fonts/NimbusSanL-Bol.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Playfair Display";
	src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
	font-weight: 400 900;
	font-style: normal;
	font-display: fallback;
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/



/****************/
/* JOUW STYLING */
/****************/

main>section:first-of-type {
	background-color: var(--color-section-background-album);
}

/****************/
/* 	MAIN SECTION */
/****************/
main> section:nth-of-type(1) {
	display: grid;
	/* background-color: #7F2B34; */
	/* van de website geplukt */
	padding: 11em clamp(1em, 8.33%, 3em) calc(9.25926vw + 20px + 7em) clamp(1em, 8.33%, 3em);	
}

main> section:first-of-type>h1 {
	font-size: 1.5em;
	font-family: "Playfair Display";
	/* van de website geplukt */
	line-height: 1.3em;
	text-transform: capitalize;
	/* background-color: yellow; */
	margin: 0;
	grid-row-start: 4;
	padding: 1em 2rem;
	color: var(--color-text-primary);
}

main >section:first-of-type>p {
	font-size: 0.8125em;
	color: var(--color-text-secondary);
	line-height: 1.56875em;
	/* background-color: green; */
	margin: 0;
	grid-row-start: 3;
	padding: 0 2rem;
	margin: 0;
}

main> section:first-of-type>a {
	font-size: 1em;
	color: var(--color-text-primary);
	line-height: 1em;
	text-decoration: underline;
	grid-row-start: 5;
	padding: 0 2rem;
	margin: 0 0 2rem 0;
}

main> section:first-of-type>img {
	grid-row-start: 1;
	padding: 0 1rem;
} 

/********************/
/* social NAVIGATIE */
/********************/

main [aria-label="Share Justice"] { /* 'share' */
	/* background-color: aqua; */
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: .3em;
	grid-row-start: 2;
	padding: 1rem 1rem 1.5rem 1rem;
	justify-self: end;
}

main [aria-label="Share Justice"] ul {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	/* background-color: red; */
	margin: 0;
	padding: 0;
	gap: .3em;
}

main [aria-label="Share Justice"] h2 {
	font-size: 1em;
	/* background-color: orange; */
	font-weight: 400;
	margin: 0 .4em 0 0;
}

main [aria-label="Share Justice"] ul li {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-text-secondary);
    overflow: hidden; 
}

main [aria-label="Share Justice"] ul li img {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: center; 
	opacity: 0.7; 
}


/* https://chatgpt.com/c/66faa3fd-154c-8005-a75e-51cec58a1678 */
/* :nth-child() selecteert het element op basis van zijn positie tussen alle broers/zussen.
:nth-of-type() selecteert het element op basis van zijn positie binnen alle elementen van hetzelfde type (bijv. alle li-elementen binnen een ul). */
main [aria-label="Share Justice"] ul li:nth-child(1) img {
    scale: 0.4; 
}

main [aria-label="Share Justice"] ul  li:nth-child(2) img {
    scale: 0.5;  
}

main [aria-label="Share Justice"] ul li:nth-child(3) img {
    scale: 0.49; 
}

main [aria-label="Share Justice"] ul  li:nth-child(4) img {
    scale:.6; 
}

main [aria-label="Share Justice"] ul  li:nth-child(5) img {
    scale: 0.6;  
}


/*************/
/*	 TABEL	 */
/*************/
table {
    width: calc(100%-1em); /* https://chatgpt.com/c/66faa3fd-154c-8005-a75e-51cec58a1678 */
    border-collapse: collapse; /* https://www.youtube.com/watch?v=biI9OFH6Nmg */
	text-align: left; 
	font-size: .75em;
	line-height: 1.32em;
	grid-row-start: 6;
	margin: 0 1rem;
}

table tbody tr {
	border-bottom: 1px solid var(--color-text-footer);
}

td { /* alle cellen in de body en head */
    padding: 1.3em;
	
}

table tbody tr td:first-of-type {
	/* https://chatgpt.com/c/66faa3fd-154c-8005-a75e-51cec58a1678 */
    width: auto; /* Eerste kolom past zich aan de inhoud aan */
	/* max-width: fit-content; Dit heeft geen nut*/
	/* background-color: #FE5768; */
	color: var(--color-text-secondary);
	text-align: center;

}

table tbody tr td:last-of-type {
	/* https://chatgpt.com/c/66faa3fd-154c-8005-a75e-51cec58a1678 */
    width: 100%; /* Tweede kolom kan breder worden */
	/* background-color: yellow; */
}

table tbody tr td:last-of-type a {

	color: var(--color-text-primary);
}

/***********************/
/*	    GRID-ALBUMS 	 */
/***********************/
main aside {
	padding: 7em 0 calc(9.25926vw + 5em) 0;
	position: relative;
	display: grid;
	background-color: var(--color-section-background-light);
}

main aside h2 {
	font-family: "Playfair Display";
	font-size: 1.3em;
	text-transform: capitalize;
	padding-left: clamp(1em, 8.33%, 3em);

}

main aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0 clamp(1em, 8.33%, 3em) 0 clamp(1em, 8.33%, 3em);
	display: grid;
	grid-gap: 2em;

}
  
main aside ul li {
	aspect-ratio: 1/1;
	overflow: hidden;
}

main aside ul li a {
	position: relative;
	display: block;
	display: grid; /* Maak van de <a> ook een grid */
	place-items: center; /* Centreer alle inhoud horizontaal */
	gap: 10px; /* Voeg ruimte toe tussen de items */
	z-index: 3;
}

main aside ul a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	transition: opacity .5s ease;
	opacity: 0;
	z-index:3;
}

main aside ul li:hover a::before {
	opacity: 1; /* Toon overlay bij hover */
	
}

main aside ul li a p, main aside ul li a h3 {
	position: absolute;
	color: var(--color-text-album-opacity);
	font-weight: 700;
	z-index: 10;
	transition: opacity 0.5s ease;
	opacity: 0;
	max-width: 60%; 
	text-align: center;
}

main aside ul li a p {
	transform: translate(0, 100%);
	font-size: 1em;
	text-decoration: underline;
	font-weight: 400;
}

main aside ul li a h3 {
	font-family: "Playfair Display";
	font-size: 1em;

	transform: translate(0, -100%);
}

main aside ul li img {
	width: 100%; /* Zorg dat de afbeelding nooit breder is dan de container */
	height: 100%;
	object-fit: cover;
	transition: scale .5s linear;
}

main aside ul li:hover img {
	scale: 1.02;
}

main aside ul li:hover a h3, main aside ul li:hover a p {
	opacity: 1;
}

main aside button {
	justify-self: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: underline;
	font-size: 1em;
	margin-top: 2em;
	
}

/********************/
/* 		TABLET		*/
/********************/

@media (min-width: 48em) {
	/* main section:nth-of-type(1) {
		padding: 11em clamp(1em, 8.33%, 3em) calc(9.25926vw + 20px + 7em) clamp(1em, 8.33%, 3em);
	} AKA padding is 3 em want max padding is 3 em*/
	
	main >section:first-of-type {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content max-content max-content max-content max-content;
		background-color: palegreen;
		grid-column-gap: 3rem;
	}
	main >section:first-of-type>h1 {
		font-size: 1.5em;
		font-family: "Playfair Display";
		line-height: 1.3em;
		text-transform: capitalize;
		background-color: yellow;
		margin: 0;
		grid-row-start: 2;
		grid-column:2/3 ;
		padding: 0;
		margin: 1.5rem 3rem 1.5rem 0;
		align-self: center;

	}
	
	main >section:first-of-type>p {
		font-size: 0.8125em;
		color: var(--color-text-secondary);
		line-height: 1.56875em;
		background-color: green;
		margin: 0;
		grid-row-start: 1;
		grid-column: 2/3;
		padding: 0;
		align-self: self-end;
	}
	
	main >section:first-of-type>a {
		font-size: 1em;
		color: var(--color-text-primary);
		line-height: 1em;
		text-decoration: underline;
		background-color: palevioletred;
		grid-row-start: 3;
		grid-column: 2/3;
		padding: 0;
		margin: 0;
		align-self: self-start;

	}
	
	main >section:first-of-type>img {
		grid-row: 1/4;
		grid-column: 1/2;
		border: #FE5768 5px solid;
		padding: 0;
		
	} 
	
	/********************/
	/* social NAVIGATIE */
	/********************/
	
	main >section:nth-of-type(1)>nav { 
		/* background-color: aqua; */
		grid-row-start: 4;
		grid-column:1/2 ;

	}

	/************/
	/* TABEL	 */
	/************/

	table {
		width: calc(100%-3rem); 
		border-collapse: collapse; 
		text-align: left; 
		font-size: .75em;
		line-height: 1.32em;
		grid-row-start: 5;
		grid-column: 1/-1;
		margin: 0 3rem;

	}
	
}

/********************/
/* 		DESKTOP	 	*/
/********************/

@media (min-width: 61.875em) {
}

