/**************/
/*   Fonts    */
/**************/
/* moeten als eerste worden ingeladen omdat deze worden geimporteerd. Deze moeten daarom bovenaan in de CSS staan */

@font-face {
	font-family: "Nimbus sans regular";
	src: url("../fonts/NimbusSanL-Reg.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Nimbus sans bold";
	src: url("../fonts/NimbusSanL-Bol.otf") format("opentype"); /* De goede vorm van de url is: ../ en dan ook het format type goed matchen! */
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Playfair Display";
	src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
	font-weight: 400 900;
	font-style: normal;
	font-display: fallback;
}

/* * {
	font-family: 'Nimbus Sans regular';
	text-transform: uppercase;
} */



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

img {
	max-width: 100%;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-primary: black;
	--color-text-primary: white;
	--color-text-secondary: #555555;
	--color-text-footer: #B3B3B3;
	--color-bigtext-background-light: #E5E5E5;
	--color-bigtext-background-dark: #1A1A1A;

	--color-logo: white;

	--color-section-background-light: white;
	--color-section-background-dark: black;
	--color-section-background-album: lightgrey;
	--color-footer-background: black;

	--color-vibrant: #FE5768;
	--color-vibrant-dark:#7F2B34;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/****************/
/* 	FONTS 	*/
/****************/
* {
	font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
	font-family: 'Playfair Display';
}

h2:nth-of-type(even) {
	/* color: var(--color-bigtext-background-dark); */
	color: pink;
}


main, body {
	margin: 0;
	padding: 0;
}



/****************/
/* 	HEADER 	*/
/****************/

/* Button container opmaak (het maken van grid en opmaak terwijl de streepjes opelkaar in het midden staan) */
header button {
	display:grid;
	place-items:center;
	aspect-ratio: 1;
	appearance: none;
	background: none;
}

/* button children opmaak (de streepjes) */
header button span {
	display: block;
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: .4em;
	transition: .2s;
}

/* Button header maken tot hamburgermenu */
header button span:nth-child(1){
	translate: 0 -1em;
}
  
header button span:nth-child(3){
	translate: 0 1em;
}

/* Button header wanneer geopend (dan is de klasse .toonMenu toegevoegd aan het element button) */
header.toonMenu button span:nth-child(1){
	translate: none;
	rotate: 45deg;
}
  
header.toonMenu button span:nth-child(2){
	scale: 0 1;
}
  
header.toonMenu button span:nth-child(3){
	translate: none;
	rotate: -45deg;
}


h2 {
	color: var(--color-bigtext-background-light);
	width:100%;
	background-color: orange;
	text-transform:uppercase;
	margin: 0;
	font-size:5em;
	line-height: .85em; /* Om de h2 minder padding te geven */
	order: 10;
	overflow: hidden; /* Om newsletter af te breken en niet vertivaal te kunnen scrollen */
}


/****************/
/* 	FOOTER 	*/
/****************/
footer {
	background-color: black;
	height: 7em;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Om de ul verticaal te centreren in de footer */
}

footer ul {
	list-style-type: none;

	text-transform: uppercase;
	color: var(--color-text-footer);
	display: flex;
	flex-flow: row wrap; /* Om het lijstje horizontaal en op een nieuwe regel weer te geven */
	text-decoration: none;
	gap: 0.8em 1em; /* ruimte om de links */

	margin: 0;
}

footer ul a {
	color: var(--color-text-footer);
	text-decoration: none;
	font-weight: 700;
	font-size: 0.75em; 

}

footer ul a:hover {
	text-decoration: underline;
}